.book-list {
  width: 100%;

  .list-item {
    display: flex;
    padding: 16px;
    gap: 16px;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: var(--hover-color);
    }

    .meta-wrapper {
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;

      .progress {
        position: absolute;
        top: 0;
        right: 32px;
        display: flex;
        width: 64px;
        height: 24px;
        align-items: center;
      }

      .more-button {
        position: absolute;
        top: 0;
        right: 0;
      }

      .top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        .title {
          cursor: pointer;
          font-size: var(--font-size-large);
        }

        .creator {
          color: var(--text-color-3);
          cursor: pointer;

          &:hover {
            color: var(--text-color-2);
            text-decoration: underline;
          }
        }

        .publisher {
          color: var(--text-color-3);
          cursor: pointer;

          &:hover {
            color: var(--text-color-2);
            text-decoration: underline;
          }
        }

        .description {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          color: var(--text-color-3);
          -webkit-line-clamp: 3;
          text-overflow: ellipsis;
        }
      }

      .bottom {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: var(--font-size-small);
        gap: 16px;

        .info-item {
          display: flex;
          align-items: center;
          gap: 4px;

          .value {
            color: var(--text-color-3);
          }
        }
      }
    }

    .cover-wrapper {
      display: flex;
      flex-shrink: 0;
      justify-content: center;

      :root[theme="dark"] & {
        opacity: 0.8;
      }

      .cover {
        width: 122px;
        height: 166px;
        border-radius: 4px;
        box-shadow: var(--box-shadow-1);
        cursor: pointer;
        object-fit: cover;
        -webkit-user-drag: none;
      }

      .cover-placeholder {
        display: flex;
        width: 122px;
        height: 166px;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--popover-color);
        box-shadow: var(--box-shadow-1);
        color: var(--text-color-1);
        cursor: pointer;

        .cover-title {
          padding: 12px;
          font-weight: var(--font-weight-strong);
        }
      }
    }
  }
}
