.list-item {
  transition: background-color 0.3s linear;
  user-select: none;

  &:hover {
    background-color: var(--hover-color);
  }

  .cover-wrapper {
    display: flex;
    width: 72px;
    height: 96px;
    justify-content: center;
    padding: 8px;

    .cover {
      max-width: 100%;
      height: 100%;
      border-radius: 4px;
      cursor: pointer;
      object-fit: cover;
      -webkit-user-drag: none;
    }
  }

  .title {
    padding: 0 10px;
    color: var(--text-color-1);
    cursor: pointer;
    font-size: var(--font-size-large);
  }

  .text {
    padding: 0 10px;
    color: var(--text-color-2);
    cursor: pointer;
    font-size: var(--font-size-medium);

    &:hover {
      text-decoration: underline;
    }
  }
}
