.top-bar {
  display: flex;
  height: 48px;
  flex-shrink: 0;
  justify-content: space-between;
  -webkit-app-region: drag;
  background-color: cadetblue;
  user-select: none;

  .left {
    display: flex;
    height: 100%;
    align-items: center;
    -webkit-app-region: no-drag;
  }

  .right {
    display: flex;
    height: 100%;
    align-items: center;
    -webkit-app-region: no-drag;
    justify-self: flex-end;

    .divider {
      width: 1px;
      height: 60%;
      margin: 0 8px;
      background-color: aqua;
    }
  }
}
