.book-cards-wrapper {
  display: grid;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));

  .card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-3);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--text-color-1);
    }

    .title-wrapper {
      display: flex;
      width: 168px;
      justify-content: center;

      .title {
        padding-top: 12px;
        cursor: pointer;
        font-size: var(--font-size-large);
      }
    }

    .cover-wrapper {
      position: relative;
      display: flex;
      width: 100%;
      flex-grow: 1;
      justify-content: center;
      cursor: pointer;

      .cover {
        width: 168px;
        border-radius: 4px;
        box-shadow: var(--box-shadow-1);
        cursor: pointer;
        object-fit: cover;
        -webkit-user-drag: none;
      }

      .cover-placeholder {
        display: flex;
        width: 168px;
        min-height: 224px;
        justify-content: center;
        border-radius: 4px;
        background-color: var(--popover-color);
        box-shadow: var(--box-shadow-1);
        color: var(--text-color-1);
        cursor: pointer;

        .cover-title {
          padding: 20px;
          font-size: var(--font-size-large);
          font-weight: var(--font-weight-strong);
        }
      }
    }

    .hover-wrapper {
      position: absolute;
      top: 6px;
      left: 50%;
      display: flex;
      width: 168px;
      height: 96px;
      box-sizing: border-box;
      align-items: flex-start;
      justify-content: space-between;
      padding: 4px;
      background: linear-gradient(var(--popover-color) 0%, transparent 40%);
      color: var(--text-color-3);
      cursor: pointer;
      translate: -50% 0;

      .progress {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--primary-color-hover);
        border-radius: 50%;
        background-color: var(--card-color);
        color: var(--primary-color);
        font-size: var(--font-size-small);
      }
    }
  }
}
