.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  user-select: none;

  &-top-bar {
    display: flex;
    height: 40px;
    box-sizing: border-box;
    flex-shrink: 0;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: var(--top-bar-color);

    .left {
      display: flex;
      overflow: hidden;
      height: 100%;
      box-sizing: border-box;
      flex-grow: 1;
      align-items: center;
      padding: 0 8px;
    }

    .right {
      display: flex;
      height: 100%;
      align-items: center;
      -webkit-app-region: no-drag;
      justify-self: flex-end;

      .divider {
        width: 1px;
        height: 60%;
        margin: 0 4px;
        background-color: var(--divider-color);
      }

      .button-wrapper {
        display: flex;
        width: 160px;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }

  &-view {
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
  }
}
