.reader-page-side-bar {
  position: relative;
  z-index: 11;
  width: 200px;
  min-width: 200px;
  max-width: calc(100% - 600px);
  height: 100%;
  flex-shrink: 0;
  transform-origin: left top;
  translate: -200px 0;

  .content-wrapper {
    display: flex;
    width: calc(100% - 2px);
    height: 100%;
    flex-direction: column;

    .content-header {
      flex-shrink: 0;
      box-shadow: 0 0 6px -4px;

      .label {
        display: flex;
        height: 36px;
        align-items: center;
        padding-left: 12px;
        font-size: var(--font-size-huge);
        font-weight: var(--font-weight-strong);
      }
    }

    .content-view {
      overflow: hidden;
      flex-grow: 1;
    }
  }

  .divider {
    position: absolute;
    z-index: 111;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    transition: all 0.5s linear;
  }

  .navigation-content {
    box-sizing: border-box;
    padding: 0 12px;

    .navigation-item {
      padding: 2px 0;
      cursor: pointer;
      transition: text-decoration 0.2s linear;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search-header {
    flex-shrink: 0;
    padding: 0 12px;

    .result {
      display: flex;
      height: 24px;
      align-items: center;
      justify-content: flex-end;
      font-size: var(--font-size-tiny);
    }
  }

  .search-content {
    box-sizing: border-box;

    .result-item {
      padding: 4px 12px;

      &:hover {
        background-color: rgb(207 207 207 / 36.3%);
      }
    }
  }

  .tag {
    position: absolute;
    right: -24px;
    display: flex;
    width: 24px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    background-color: rgb(218 218 218);
    cursor: pointer;
    opacity: 0.7;

    &.active {
      background-color: rgb(240 240 240);
      opacity: 1;
    }

    &:nth-child(1) {
      top: 36px;
    }

    &:nth-child(2) {
      top: 70px;
    }

    &:nth-child(3) {
      top: 104px;
    }

    &:nth-child(4) {
      top: 138px;
    }
  }
}
