.reader-page-side-bar {
  position: relative;
  z-index: 11;
  width: 200px;
  min-width: 200px;
  max-width: calc(100% - 600px);
  height: 100%;
  flex-shrink: 0;
  transform-origin: left top;
  translate: -200px 0;

  .content-wrapper {
    display: flex;
    width: calc(100% - 2px);
    height: 100%;
    flex-direction: column;

    .content-header {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-shadow: 0 0 6px -4px;

      &.row {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }

      .label {
        display: flex;
        height: 36px;
        align-items: center;
        padding-left: 12px;
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-strong);
      }
    }

    .content-view {
      overflow: hidden;
      flex-grow: 1;
    }
  }

  .divider {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: var(--primary-color);
    cursor: ew-resize;
    transition: all 0.5s linear;
  }

  .navigation-content {
    box-sizing: border-box;
    padding: 0 12px;

    .navigation-item {
      padding: 2px 0;
      cursor: pointer;
      transition: text-decoration 0.2s linear;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .search-header {
    flex-shrink: 0;
    padding: 0 12px;

    .result {
      display: flex;
      height: 24px;
      align-items: center;
      justify-content: flex-end;
      font-size: var(--font-size-tiny);
    }
  }

  .search-content {
    .result-item {
      padding: 4px 12px;
      cursor: pointer;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: var(--hover-color);
      }
    }
  }

  .highlight-header {
    display: flex;
    height: 36px;
    box-sizing: border-box;
    padding-top: 6px;
    padding-right: 8px;
    gap: 6px;

    .icon-button {
      padding: 0 2px;
    }
  }

  .highlight-content {
    .highlight-item {
      display: flex;
      flex-direction: column;
      padding: 8px 12px;
      gap: 4px;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: var(--hover-color);
      }

      .fragment {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        cursor: pointer;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
      }

      .date {
        align-self: flex-end;
        color: var(--text-color-3);
      }
    }
  }

  .bookmark-content {
    .bookmark-item {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      gap: 4px;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: var(--hover-color);
      }

      .fragment {
        display: -webkit-box;
        overflow: hidden;
        flex-grow: 1;
        -webkit-box-orient: vertical;
        cursor: pointer;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
      }
    }
  }

  .tag {
    position: absolute;
    right: -24px;
    display: flex;
    width: 24px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    background-color: var(--tag-color);
    color: var(--text-color-3);
    cursor: pointer;

    &.active {
      color: var(--primary-color-hover);
    }

    &:nth-child(1) {
      top: 36px;
    }

    &:nth-child(2) {
      top: 70px;
    }

    &:nth-child(3) {
      top: 104px;
    }

    &:nth-child(4) {
      top: 138px;
    }
  }
}
