.recent-page {
  width: 100%;
  height: 100%;
  padding: 16px;

  &-header {
    display: grid;
    padding: 4px 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
    gap: 8px;
    grid-template-columns: 2.5fr 2fr 1.5fr 2fr 2fr;
  }

  .book-item {
    display: grid;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    gap: 8px;
    grid-template-columns: 2.5fr 2fr 1.5fr 2fr 2fr;

    &:hover {
      background-color: rgb(230 230 230);
    }
  }
}
