.book-mark {
  &-search {
    fill: #fd0;
    fill-opacity: 0.5;
    mix-blend-mode: multiply;
    mix-blend-mode: overlay;
  }

  &-highlight {
    cursor: pointer;
    fill: #06f;
    fill-opacity: 0.3;
    mix-blend-mode: multiply;
    pointer-events: fill;
    transition: fill-opacity 0.2s linear;

    &:hover {
      fill-opacity: 0.5;
    }
  }
}

:root {
  --app-color: #fafafa;
  --top-bar-color: #f0f0f0;

  &[theme="dark"] {
    --app-color: #202020;
    --top-bar-color: #2c2c2c;

    .cover,
    .cover-placeholder {
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .book-mark {
      &-search {
        mix-blend-mode: screen;
      }

      &-highlight {
        mix-blend-mode: screen;
      }
    }
  }

  transition: background-color 0.2s linear;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--app-color);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
