:root {
  --app-color: #fafafa;
  --top-bar-color: #f0f0f0;

  &[theme="dark"] {
    --app-color: #202020;
    --top-bar-color: #2c2c2c;
  }

  transition: background-color 0.2s linear;
  user-select: none;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--app-color);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-mark {
  &-search {
    fill: #fd0;
    fill-opacity: 0.5;
    mix-blend-mode: multiply;
    mix-blend-mode: overlay;

    :root[theme="dark"] & {
      mix-blend-mode: screen;
    }
  }

  &-highlight {
    cursor: pointer;
    fill: #06f;
    fill-opacity: 0.3;
    mix-blend-mode: multiply;
    pointer-events: fill;
    transition: fill-opacity 0.2s linear;

    &:hover {
      fill-opacity: 0.5;
    }

    :root[theme="dark"] & {
      mix-blend-mode: screen;
    }
  }
}
