.books-showcase {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &-loading-mask {
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 100%;
  }

  &-header {
    position: relative;
    display: flex;
    height: 48px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    gap: 32px;

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--border-color);
      content: "";
    }

    .slot-wrapper {
      overflow: hidden;
      flex-grow: 1;
    }

    .switch-wrapper {
      display: flex;
      flex-shrink: 0;
      gap: 16px;
    }
  }

  &-body {
    overflow: hidden;
    flex-grow: 1;

    .n-scrollbar-content {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      justify-content: space-between;
    }

    .books-container {
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
    }
  }

  &-footer {
    display: flex;
    flex-shrink: 0;
  }
}
