.side-bar {
  display: flex;
  width: 148px;
  flex-direction: column;
  flex-shrink: 0;
  background-color: pink;
  user-select: none;

  .item {
    display: flex;
    height: 48px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: brown;
    text-decoration: none;

    &.active {
      background-color: bisque;
      color: blueviolet;
    }
  }
}
