.book-list {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  word-break: break-word;

  &-column {
    .cover {
      width: 88px;
    }

    .action {
      width: 200px;
    }
  }
}
