.book-card {
  display: flex;

  .cover-wrapper {
    display: flex;
    overflow: hidden;
    width: 146px;
    height: 192px;
    flex-shrink: 0;
    justify-content: center;
    background-color: rgb(255 0 0);

    .cover {
      height: 100%;
      border-radius: 4px;
      cursor: pointer;
      -webkit-user-drag: none;
      user-select: none;
    }
  }

  .metadata-wrapper {
    display: flex;
    height: 192px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 8px;
    word-break: break-word;

    .title {
      margin-bottom: 16px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;

      &::selection {
        background-color: aquamarine;
        color: #eee;
      }
    }

    .text-wrapper {
      display: flex;
      padding-bottom: 8px;
      font-size: 12px;
      gap: 4px;

      .label {
        flex-shrink: 0;
        user-select: none;
      }

      .value {
        color: #666;
        cursor: pointer;

        &::selection {
          background-color: aquamarine;
          color: #eee;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
