.reader-page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--app-color);

  .popover-content {
    display: flex;
    gap: 8px;
  }

  &-loading-mask {
    position: absolute;
    z-index: 111;
    width: 100%;
    height: 100%;
  }

  &-container {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 600px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 48px;
    padding-top: 32px;
    border-radius: 4px;
    background-color: var(--body-color);
    box-shadow: -1px -1px 8px -6px;

    .top-bar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 32px;
      align-items: center;
      color: var(--text-color-3);
      opacity: 0.6;
      transition: opacity 0.3s linear;

      &:hover {
        opacity: 1;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 32px);
        height: 1px;
        background-color: var(--border-color);
        content: "";
        translate: -50% 0;
      }

      .left {
        display: flex;
        width: 20%;
        box-sizing: border-box;
        align-items: center;
        padding: 0 16px;
        gap: 16px;
      }

      .center {
        display: flex;
        width: 60%;
        justify-content: center;
      }

      .right {
        display: flex;
        width: 20%;
        box-sizing: border-box;
        justify-content: flex-end;
        padding: 0 16px;
        gap: 8px;
      }
    }

    .arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      display: flex;
      height: 38%;
      align-items: center;
      background-color: var(--popover-color);
      box-shadow: var(--box-shadow-3);
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
      translate: 0 -50%;

      &:hover {
        opacity: 1;
      }
    }

    .prev {
      left: 0;
      padding-left: 12px;
      border-radius: 0 64px 64px 0;
    }

    .next {
      right: 0;
      padding-right: 12px;
      border-radius: 64px 0 0 64px;
    }
  }
}
