.reader-page-option-item {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .option-header {
    display: flex;
    align-items: center;
    gap: 16px;

    .label {
      min-width: 64px;
      flex-shrink: 0;
      font-size: var(--font-size-medium);
    }
  }

  .option-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
